
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EasyAutocomplete simple example</title>

        <!-- STYLE -> CSS -->
            <link rel="stylesheet" href="{% static 'easyautocomplete/css/easy-autocomplete.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'easyautocomplete/css/easy-autocomplete.themes.css' %}" type="text/css">
        <!-- end STYLE-->

    </head>
    <body>

        <!-- STRUCTURE -> HTML5 elements -->
            <h1>EasyAutocomplete</h1>

            <input id="project_choice_list" size="50" />
            <input id="projet_holder" type="text" value="" size="50">
        <!-- end STRUCTURE-->

        <!--BEHAVIOR -> Javascript scripts-->
            <!-- Using jQuery with a CDN -->
            <script src="//code.jquery.com/jquery-1.11.2.js"></script>
            <script src="{% static 'easyautocomplete/js/jquery.easy-autocomplete.js' %}" type="text/javascript"></script>

            <script>
                var options_easy_autocomplete_ajax = {
                    {# we have to build this URL: http://127.0.0.1:8004/projects/api_get_projects/?term=a #}
                    url: function(term) {
                        return "{% url 'projects:api_get_projects' %}" + "?term=" + term;
                    },
                    getValue: "title",
                    list: {
                        maxNumberOfElements: 200,
                        onSelectItemEvent: function() {
                            var project_id = $("#project_choice_list").getSelectedItemData().id;

                            {# put the project.id in the projet_holder field #}
                            $("#projet_holder").val(project_id).trigger("change");
                        },
                        match: {
                            enabled: true
                        },
                    },
                    placeholder: "Choose your projects"
                };
                $("#project_choice_list").easyAutocomplete(options_easy_autocomplete_ajax);
            </script>
        <!-- end BEHAVIOR -->

    </body>

</html>

