{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EasyAutocomplete simple example</title>

        <!-- STYLE -> CSS -->
            <link rel="stylesheet" href="{% static 'easyautocomplete/css/easy-autocomplete.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'easyautocomplete/css/easy-autocomplete.themes.css' %}" type="text/css">

        <!-- end STYLE-->

    </head>
    <body>

        <!-- STRUCTURE -> HTML5 elements -->
            <h1>EasyAutocomplete - easy example</h1>
            <input id="simple" />
        <!-- end STRUCTURE-->

        <!--BEHAVIOR -> Javascript scripts-->
            <!-- Using jQuery with a CDN -->
            <script src="//code.jquery.com/jquery-1.11.2.js"></script>
            <script src="{% static 'easyautocomplete/js/jquery.easy-autocomplete.js' %}" type="text/javascript"></script>

            <script>

                var options_easy_autocomplete = {
                    data: ["blue", "green", "pink", "red", "yellow"],

                };

                $("#simple").easyAutocomplete(options_easy_autocomplete);

            </script>
        <!-- end BEHAVIOR -->

    </body>

</html>

