
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EasyAutocomplete simple example</title>

        <!-- STYLE -> CSS -->
            <link rel="stylesheet" href="{% static 'easyautocomplete/css/easy-autocomplete.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'easyautocomplete/css/easy-autocomplete.themes.css' %}" type="text/css">
        <!-- end STYLE-->

    </head>
    <body>

        <!-- STRUCTURE -> HTML5 elements -->
            <h1>Test jquery EasyAutocomplete</h1>
            <h1>Update of the project '(title:{{ project.title }} champion:{{ project.champion.username }}) </h1>
            <p></p>
            <p></p>
            {# https://docs.djangoproject.com/en/dev/topics/forms/ #}
            <form id="id_form_project_update_easy" action="{% url 'projects:project_update' project.id %}" method="post">
                {% csrf_token %}
                <div class="forms">
                    {{ form.id }}
                    {{ form.non_field_errors }}
                    {# Include the hidden fields #}
                    {% for hidden in form.hidden_fields %}
                        {# here we will have the champion filed (which is hidden) #}
                        {{ hidden }}
                    {% endfor %}
                    <table id="id_table" class="table table-hover table-bordered table-condensed">
                        <tbody>
                                <tr>
                                    <td class="text-right">Title:</td>
                                    <td>{{ form.title }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Champion:</td>
                                    <td> {{ form.champions_choice_list }}  </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <input type="submit" name="btn_update"  value="Update" class="btn btn-success btn-block" />
            </form>
        <!-- end STRUCTURE-->

        <!--BEHAVIOR -> Javascript scripts-->
            <!-- Using jQuery with a CDN -->
            <script src="//code.jquery.com/jquery-1.11.2.js"></script>
            <script src="{% static 'easyautocomplete/js/jquery.easy-autocomplete.js' %}" type="text/javascript"></script>

            <script>
                var options_easy_autocomplete_champions = {
                    {# we have to build this URL: http://127.0.0.1:8004/projects/api_get_champions/?term=a #}
                    url: function(term) {
                       {# calling the JSON view (this is the very famous AJAX call) #}
                        return "{% url 'projects:api_get_champions' %}" + "?term=" + term;
                    },
                    getValue: "value",
                    list: {
                        maxNumberOfElements: 200,
                        onSelectItemEvent: function() {
                            {# http://easyautocomplete.com/example/select-event #}
                            var champion_id = $("#id_champions_choice_list").getSelectedItemData().id;

                            {# put the id in the champion field #}
                            $("#id_champion")
                                .val(champion_id)
                                .trigger("change");
                        },
                        match: {
                            enabled: true
                        },
                    },
                    placeholder: "Choose your champion"
                };

                {# build the autocomplete list for the champions_choice_list #}
                $("#id_champions_choice_list").easyAutocomplete(options_easy_autocomplete_champions);

                var champion_name = "{{ project.champion.username }}"
                $("#id_champions_choice_list").attr('placeholder', champion_name);

            </script>
        <!-- end BEHAVIOR -->

    </body>

</html>

